[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pandas = "*"
plotly = "*"
numpy-financial = "*"
requests = "*"
ipykernel = "*"
nbformat = ">=4.2.0"
autotrain-advanced = "*"
h2o = "*"

[dev-packages]

[requires]
python_version = "3.8"
